<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Character data</key>
	<array>
		<dict>
			<key>className</key>
			<string>metalsoldier</string>
			<key>elementID</key>
			<integer>5</integer>
			<key>startLevel</key>
			<integer>1</integer>
			<key>basicHP</key>
			<integer>100</integer>
			<key>basicSP</key>
			<integer>0</integer>
			<key>basicSTR</key>
			<integer>20</integer>
			<key>basicDEF</key>
			<integer>10</integer>
			<key>basicINT</key>
			<integer>0</integer>
			<key>basicDEX</key>
			<integer>70</integer>
			<key>basicEVA</key>
			<string>5</string>
			<key>minHPAdd</key>
			<integer>8</integer>
			<key>maxHPAdd</key>
			<integer>12</integer>
			<key>minSPAdd</key>
			<integer>0</integer>
			<key>maxSPAdd</key>
			<integer>0</integer>
			<key>minSTRAdd</key>
			<integer>0</integer>
			<key>maxSTRAdd</key>
			<integer>0</integer>
			<key>minDEFAdd</key>
			<integer>0</integer>
			<key>maxDEFAdd</key>
			<integer>0</integer>
			<key>minINTAdd</key>
			<integer>0</integer>
			<key>maxINTAdd</key>
			<integer>0</integer>
			<key>minDEXAdd</key>
			<integer>0</integer>
			<key>maxDEXAdd</key>
			<integer>0</integer>
			<key>minEVAAdd</key>
			<integer>0</integer>
			<key>maxEVAAdd</key>
			<integer>0</integer>
			<key>attackType</key>
			<integer>0</integer>
			<key>maximumAttackedStack</key>
			<integer>6</integer>
			<key>frames</key>
			<dict>
				<key>idleFrame</key>
				<string>metal_soldier_IDLEanim_1.png</string>
				<key>idleAnimFrame</key>
				<string>metal_soldier_IDLEanim</string>
				<key>attackAnimFrame</key>
				<string>metal_soldier_ATTACKanim</string>
			</dict>
			<key>useProjectileName</key>
			<string>fireball</string>
		</dict>
		<dict>
			<key>className</key>
			<string>firemage</string>
			<key>elementID</key>
			<integer>1</integer>
			<key>startLevel</key>
			<integer>1</integer>
			<key>basicHP</key>
			<integer>100</integer>
			<key>basicSP</key>
			<integer>0</integer>
			<key>basicSTR</key>
			<integer>10</integer>
			<key>basicDEF</key>
			<integer>10</integer>
			<key>basicINT</key>
			<integer>20</integer>
			<key>basicDEX</key>
			<integer>70</integer>
			<key>basicEVA</key>
			<string>5</string>
			<key>minHPAdd</key>
			<integer>8</integer>
			<key>maxHPAdd</key>
			<integer>12</integer>
			<key>minSPAdd</key>
			<integer>0</integer>
			<key>maxSPAdd</key>
			<integer>0</integer>
			<key>minSTRAdd</key>
			<integer>0</integer>
			<key>maxSTRAdd</key>
			<integer>0</integer>
			<key>minDEFAdd</key>
			<integer>0</integer>
			<key>maxDEFAdd</key>
			<integer>0</integer>
			<key>minINTAdd</key>
			<integer>0</integer>
			<key>maxINTAdd</key>
			<integer>0</integer>
			<key>minDEXAdd</key>
			<integer>0</integer>
			<key>maxDEXAdd</key>
			<integer>0</integer>
			<key>minEVAAdd</key>
			<integer>0</integer>
			<key>maxEVAAdd</key>
			<integer>0</integer>
			<key>attackType</key>
			<integer>1</integer>
			<key>maximumAttackedStack</key>
			<integer>6</integer>
			<key>frames</key>
			<dict>
				<key>idleFrame</key>
				<string>fire_mage_IDLEanim_1.png</string>
				<key>idleAnimFrame</key>
				<string>fire_mage_IDLEanim</string>
				<key>attackAnimFrame</key>
				<string>fire_mage_ATTACKanim</string>
			</dict>
			<key>useProjectileName</key>
			<string>fireball</string>
		</dict>
	</array>
	<key>Item data</key>
	<array>
		<dict>
			<key>itemID</key>
			<string></string>
		</dict>
		<dict>
			<key>itemID</key>
			<string></string>
		</dict>
	</array>
	<key>Stage data</key>
	<array>
		<dict>
			<key>stageID</key>
			<string>stage0</string>
			<key>stageName</key>
			<string>A-1</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>nebula stage buttons.jpg</string>
			<key>availableDisabledImageName</key>
			<string>nebula stage buttons.jpg</string>
			<key>completedNormalImageName</key>
			<string>nebula stage buttons.jpg</string>
			<key>completedDisabledImageName</key>
			<string>nebula stage buttons.jpg</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage1</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage1</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<true/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>100</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage1</string>
			<key>stageName</key>
			<string>A-2</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageB.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageB.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>2</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage2</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage2</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>100</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage2</string>
			<key>stageName</key>
			<string>A-3</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageA.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageA.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage3</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage3</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage3</string>
			<key>stageName</key>
			<string>A-4</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageB.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageB.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage4</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage4</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage4</string>
			<key>stageName</key>
			<string>A-5</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageA.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageA.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>10</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage5</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage5</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage5</string>
			<key>stageName</key>
			<string>A-6</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageB.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageB.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>10</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage6</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage6</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage6</string>
			<key>stageName</key>
			<string>A-7</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageA.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageA.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageA_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>10</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage7</string>
				<string>stage9</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage7</string>
				<string>stage9</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage7</string>
			<key>stageName</key>
			<string>A-8</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageB.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageB.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageB_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>nextStageID</key>
			<array>
				<string>stage8</string>
			</array>
			<key>willUnlockStageID</key>
			<array>
				<string>stage8</string>
			</array>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage8</string>
			<key>stageName</key>
			<string>A-Secret 1</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageBoss.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageBoss_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageBoss.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageBoss_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>nextStageID</key>
			<array/>
			<key>willUnlockStageID</key>
			<array/>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>stageID</key>
			<string>stage9</string>
			<key>stageName</key>
			<string>A-Boss</string>
			<key>countryID</key>
			<string>water</string>
			<key>availableNormalImageName</key>
			<string>water_stageSecret.png</string>
			<key>availableDisabledImageName</key>
			<string>water_stageSecret_locked.png</string>
			<key>completedNormalImageName</key>
			<string>water_stageSecret.png</string>
			<key>completedDisabledImageName</key>
			<string>water_stageSecret_locked.png</string>
			<key>gridPoint</key>
			<dict>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>14</integer>
			</dict>
			<key>nextStageID</key>
			<array/>
			<key>willUnlockStageID</key>
			<array/>
			<key>isCompleted</key>
			<false/>
			<key>isUnlocked</key>
			<false/>
			<key>Enemy List</key>
			<array>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>enemyClass</key>
					<string>metalsoldier</string>
					<key>level</key>
					<string>1</string>
					<key>totalUnit</key>
					<string>1</string>
					<key>availableUnit</key>
					<string>1</string>
					<key>attributes</key>
					<dict>
						<key>HP</key>
						<integer>100</integer>
						<key>SP</key>
						<integer>100</integer>
						<key>STR</key>
						<integer>10</integer>
						<key>DEF</key>
						<integer>10</integer>
						<key>INT</key>
						<integer>10</integer>
						<key>DEX</key>
						<integer>10</integer>
						<key>EVA</key>
						<integer>10</integer>
					</dict>
				</dict>
			</array>
			<key>winCount</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Country data</key>
	<array>
		<dict>
			<key>countryName</key>
			<string>water0</string>
			<key>element</key>
			<string>water</string>
			<key>spriteFileName</key>
			<string>water_stageBoss.png</string>
			<key>gridBoardSize</key>
			<dict>
				<key>horizontal</key>
				<integer>32</integer>
				<key>vertical</key>
				<integer>19</integer>
			</dict>
			<key>locationInWorld</key>
			<dict>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
		</dict>
	</array>
	<key>Weapon data</key>
	<array/>
	<key>Projectile data</key>
	<array>
		<dict>
			<key>projectileName</key>
			<string>fireball</string>
			<key>idleFrame</key>
			<string>fireball_anim_1.png</string>
			<key>defaultPower</key>
			<integer>10</integer>
			<key>defaultSpeed</key>
			<integer>10</integer>
			<key>projectileShootType</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
